table {
    width: 30%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

th, td {
    padding: 1rem;
}

th {
    background-color: #FFE099;
    font-weight: bold;
}

td {
    text-align: center;
}

tbody {
    background-color: #eee;
}

.price {
    justify-content: flex-end !important;
}

#price-total {
    margin-left: 0.5rem;
    font-weight: bold;
}