/* add home page styles here */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    list-style: none;
    padding: 1rem;
    width: 70%;
}

.listing {
    display: flex;
    flex-direction: column;
    border: 2px solid dimgrey;
    border-radius: 2rem;
    width: 20rem;
    height: 100%; /*try auto to make all items in a row have the same height*/
    padding: 2rem;
    margin: 1rem;
    align-items: center;
    box-shadow: 0px 1px 2px #888;
    background-color: #eee;
}

.listing h3 {
    font-weight: bold;
    font-size: 2rem;
}

.listing .tree-marker {
    font-size: 1rem;
    vertical-align: middle;
}

.listing h4 {
    font-style: italic;
}

.listing details, label {
    width: 100%;
}

.listing > label {
    font-size: 1.2rem;
}

.listing > label:after {
    content: ':';
}

.listing summary {
    font-weight: bold;
}

.listing img {
    width: 100%;
    margin: 1rem 0;
}

.purchase {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

.purchase label {
    text-align: center;
}

.purchase * {
    width: 100%;
}